<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoryControll</servlet-name>
        <servlet-class>controll.CategoryControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailControll</servlet-name>
        <servlet-class>controll.ProductDetailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControll</servlet-name>
        <servlet-class>controll.SearchControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControll</servlet-name>
        <servlet-class>controll.SignUpControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInControll</servlet-name>
        <servlet-class>controll.SignInControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControll</servlet-name>
        <servlet-class>controll.LogOutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordControll</servlet-name>
        <servlet-class>controll.changePasswordControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoControll</servlet-name>
        <servlet-class>controll.UpdateUserInfoControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordControll</servlet-name>
        <servlet-class>controll.ValidateEmailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordCtrl</servlet-name>
        <servlet-class>controll.ResetPasswordControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControll</servlet-name>
        <servlet-class>controll.UserControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatarControll</servlet-name>
        <servlet-class>controll.UpdateAvatarControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControll</servlet-name>
        <servlet-class>controll.AddToCartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDescControll</servlet-name>
        <servlet-class>controll.QuantityIncDescControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartControll</servlet-name>
        <servlet-class>controll.RemoveCartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShippingAddressControll</servlet-name>
        <servlet-class>controll.UpdateShippingAddressControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNowControll</servlet-name>
        <servlet-class>controll.OrderNowControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderControll</servlet-name>
        <servlet-class>controll.CancelOrderControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserControll</servlet-name>
        <servlet-class>controll.DeleteUserControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerControll</servlet-name>
        <servlet-class>controll.AddCustomerControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerControll</servlet-name>
        <servlet-class>controll.UpdateCustomerControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAvatarControll</servlet-name>
        <servlet-class>controll.CustomerAvatarControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSearchControll</servlet-name>
        <servlet-class>controll.CustomerSearchControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductControll</servlet-name>
        <servlet-class>controll.DeleteProductControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductControll</servlet-name>
        <servlet-class>controll.AddProductControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductThumbControll</servlet-name>
        <servlet-class>controll.ProductThumbControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingCategoryControll</servlet-name>
        <servlet-class>controll.PagingCategoryControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingSearchControll</servlet-name>
        <servlet-class>controll.PagingSearchControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductControll</servlet-name>
        <servlet-class>controll.UpdateProductControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminControll</servlet-name>
        <servlet-class>controll.DeleteAdminControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminControll</servlet-name>
        <servlet-class>controll.AddAdminControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAvatarControll</servlet-name>
        <servlet-class>controll.AdminAvatarControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminControll</servlet-name>
        <servlet-class>controll.UpdateAdminControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderControll</servlet-name>
        <servlet-class>controll.DeleteOrderControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderControll</servlet-name>
        <servlet-class>controll.ConfirmOrderControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusControll</servlet-name>
        <servlet-class>controll.UpdateOrderStatusControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryControll</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailControll</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControll</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/Errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Errors/500.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>SignUpControll</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInControll</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControll</servlet-name>
        <url-pattern>/log-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordControll</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoControll</servlet-name>
        <url-pattern>/update-information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordControll</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordCtrl</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControll</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatarControll</servlet-name>
        <url-pattern>/update-avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControll</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDescControll</servlet-name>
        <url-pattern>/quantity-inc-dec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartControll</servlet-name>
        <url-pattern>/remove-from-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShippingAddressControll</servlet-name>
        <url-pattern>/update-address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNowControll</servlet-name>
        <url-pattern>/order-now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderControll</servlet-name>
        <url-pattern>/cancel-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserControll</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerControll</servlet-name>
        <url-pattern>/customer-add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerControll</servlet-name>
        <url-pattern>/customer-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAvatarControll</servlet-name>
        <url-pattern>/customer-avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSearchControll</servlet-name>
        <url-pattern>/search-customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductControll</servlet-name>
        <url-pattern>/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductControll</servlet-name>
        <url-pattern>/product-add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductThumbControll</servlet-name>
        <url-pattern>/product-img</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingCategoryControll</servlet-name>
        <url-pattern>/category-paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingSearchControll</servlet-name>
        <url-pattern>/search-paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductControll</servlet-name>
        <url-pattern>/product-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminControll</servlet-name>
        <url-pattern>/delete-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminControll</servlet-name>
        <url-pattern>/admin-add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAvatarControll</servlet-name>
        <url-pattern>/admin-avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminControll</servlet-name>
        <url-pattern>/admin-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderControll</servlet-name>
        <url-pattern>/delete-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderControll</servlet-name>
        <url-pattern>/confirm-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusControll</servlet-name>
        <url-pattern>/update-order-status</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
